* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    background: radial-gradient(
      328px at 2.9% 15%,
      rgb(191, 224, 251) 0%,
      rgb(232, 233, 251) 25.8%,
      rgb(252, 239, 250) 50.8%,
      rgb(234, 251, 251) 77.6%,
      rgb(240, 251, 244) 100.7%
    );
    /* background: radial-gradient(circle at 10% 20%, rgb(248, 219, 219) 0%, rgb(229, 248, 250) 90%); */
    /* background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    /* background:#ffebeb; */
    border-radius: 20px;
    margin: 20px auto;
    padding: 32px;
    max-width: 500px;
    box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.2);
  }
  
  .input-details {
    /* padding: 0 30px 20px 30px; */
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .input-box {
    padding: 10px 20px;
    width: 250px;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 200ms ease-in-out;
  }
  
  .input-box:hover {
    border-color: skyblue;
  }
  
  .input-box:focus {
    border-color: #2e79ba;
  }
  
  .search-btn,
  .location-btn {
    padding: 10px 20px;
    background-color: white;
    border: none;
    margin-left: 5px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
  }
  
  .search-icon,
  .location-icon {
    font-size: 15px;
    color: #2e79ba;
  }
  
  .search-btn:hover,
  .location-btn:hover {
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  .city-details {
    margin-left: 30px;
  }
  
  .weather-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .weather-icon {
    border-right: 2px solid pink;
    padding: 30px 20px;
    /* background-color: skyblue;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .weather-icon .suncloudbig-icon {
    font-size: 50px;
    color: #ffc93c;
    margin-right: 30px;
  }
  
  .weather-icon .celcius {
    font-size: 40px;
    font-weight: 500;
  }
  
  .link-style {
    font-size: 18px;
    font-weight: 600;
  }
  
  .link-style a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 0 3px;
  }
  
  .link-style .active {
    color: #236197;
  }
  
  .weather-details {
    padding: 30px 10px;
  }
  
  .weather-details ul {
    list-style-type: none;
  }
  
  .weather-details .tiny-icon {
    color: #236197;
    padding: 0 5px;
  }
  
  .weather-details span {
    color: #2e79ba;
  }
  
  .weather-forecast {
    margin-top: 20px;
    text-align: center;
  }
  
  .flex-container {
    /* background: #2E79BA; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
  }
  
  .flex-container .days-temp {
    background: white;
    padding: 10px 15px;
    width: 40px;
    height: 90px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 200ms ease-in-out;
  }
  
  .flex-container .days-temp:hover {
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  .flex-container .days-temp .weather-forecast-temperatures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .weather-forecast-date {
    font-size: 16px;
    opacity: 0.8;
  }
  
  .weather-forecast-temp-min {
    opacity: 0.8;
  }
  
  .weather-forecast-temperatures {
    font-size: 14px;
  }
  
  .small-icon {
    font-size: 20px;
    padding: 10px 0;
  }
  
  .suncloud-icon {
    color: #ffc93c;
  }
  
  .sun-icon {
    color: #fcf051;
  }
  
  .cloud-icon {
    color: #e0ebeb;
  }
  
  .author {
    margin-top: 20px;
    text-align: center;
  }
  
  .author a {
    text-decoration: none;
    color: black;
    font-style: italic;
    color: #2e79ba;
    font-weight: 500;
  }
  
  .author .author-name {
    color: black;
  }
  
  #desc {
    text-transform: capitalize;
  }

  .App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .App footer{
    text-align: center;
    font-size: 0.9rem;
  }

  .App footer a{
    color: #236197;
    text-decoration: none;
  }

  .WeatherTemperature{
    display: flex;
    align-items: flex-start;
  }